.notfoundmessage {
    color: #ff6060;
    text-align: center;
    font-family: "Montserrat";
  }
  .notfoundmessage h1 {
    font-weight: 900;
    font-size: 150px;
    margin: 0;
  }
  .notfoundmessage p:first-of-type {
    font-weight: 800;
    font-size: 22px;
  }
  .notfoundmessage p:last-child {
    font-weight: 500;
    font-size: 18px;
    padding-top: 51px;
  }